## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

In [1]:
!pip install randomuser
!pip install pandas

Collecting randomuser
  Downloading randomuser-1.6.tar.gz (5.0 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: randomuser
  Building wheel for randomuser (pyproject.toml): started
  Building wheel for randomuser (pyproject.toml): finished with status 'done'
  Created wheel for randomuser: filename=randomuser-1.6-py3-none-any.whl size=5088 sha256=547970b112e13840d1dc5c1ec1b2d0be0cf37dc2860a964b585e6a043e710ef2
  Stored in directory: c:\users\nosakat\appdata\local\pip\cache\wheels\be\62\c8\71e1b48f4758ea5b78af7595d87178f628cde315a3326610ee
Successfully built randomuser
Installing collected packages: randomuser
Successfully installed randomuser-1.6
Requirement already satisfied: pandas in d:\work\python\ds\loscursos\python_for_datascience\env\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in d:\work\python\ds\loscursos\python_for_datascience\env\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\work\python\ds\loscursos\python_for_datascience\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\work\python\ds\loscursos\python_for_datascience\env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in d:\work\python\ds\loscursos\python_for_datascience\env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in d:\work\python\ds\loscursos\python_for_datascience\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
from randomuser import RandomUser
import pandas as pd

In [11]:
r=RandomUser()
r

In [8]:
some_list = r.generate_users(10)
some_list

[<randomuser.RandomUser at 0x236fcb1b080>,
 <randomuser.RandomUser at 0x236fcb1b0b0>,
 <randomuser.RandomUser at 0x236fcb1b0e0>,
 <randomuser.RandomUser at 0x236fcb1b110>,
 <randomuser.RandomUser at 0x236fcb1b140>,
 <randomuser.RandomUser at 0x236fcb1b170>,
 <randomuser.RandomUser at 0x236fcb1b1a0>,
 <randomuser.RandomUser at 0x236fcb1b1d0>,
 <randomuser.RandomUser at 0x236fcb1b200>,
 <randomuser.RandomUser at 0x236fcb1b230>]

In [12]:
r.get_full_name()

'Allie Coleman'

In [13]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Tony Lee   tony.lee@example.com
Thibaut David   thibaut.david@example.com
Ellen West   ellen.west@example.com
Salviano Souza   salviano.souza@example.com
احسان موسوی   hsn.mwswy@example.com
Hans Josef Löwe   hansjosef.lowe@example.com
Sara Rodriguez   sara.rodriguez@example.com
Caroline Christiansen   caroline.christiansen@example.com
Gökhan Alyanak   gokhan.alyanak@example.com
Claude Moulin   claude.moulin@example.com

In [14]:
for user in some_list:
    print (user.get_picture())

https://randomuser.me/api/portraits/men/10.jpg
https://randomuser.me/api/portraits/men/33.jpg
https://randomuser.me/api/portraits/women/11.jpg
https://randomuser.me/api/portraits/men/36.jpg
https://randomuser.me/api/portraits/men/55.jpg
https://randomuser.me/api/portraits/men/2.jpg
https://randomuser.me/api/portraits/women/16.jpg
https://randomuser.me/api/portraits/women/53.jpg
https://randomuser.me/api/portraits/men/16.jpg
https://randomuser.me/api/portraits/women/88.jpg

In [15]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [16]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Jozefien Luiken,female,Bergschenhoek,Limburg,jozefien.luiken@example.com,1962-11-19T06:54:23.964Z,https://randomuser.me/api/portraits/women/24.jpg
1,Uli Höll,male,Erlenbach am Main,Nordrhein-Westfalen,uli.holl@example.com,1972-02-01T21:05:52.260Z,https://randomuser.me/api/portraits/men/78.jpg
2,June Wallace,female,Grand Rapids,New York,june.wallace@example.com,1969-10-20T09:49:25.970Z,https://randomuser.me/api/portraits/women/80.jpg
3,مانی رضاییان,male,بجنورد,کردستان,mny.rdyyn@example.com,1978-01-27T06:33:19.703Z,https://randomuser.me/api/portraits/men/19.jpg
4,Natnael Ditlefsen,male,Vingrom,Oslo,natnael.ditlefsen@example.com,1971-01-03T10:19:02.815Z,https://randomuser.me/api/portraits/men/89.jpg
5,Ava Turner,female,Palmerston North,Bay of Plenty,ava.turner@example.com,1989-11-20T23:15:54.679Z,https://randomuser.me/api/portraits/women/5.jpg
6,Oliver Pedersen,male,Rønnede,Danmark,oliver.pedersen@example.com,1961-02-02T11:33:43.433Z,https://randomuser.me/api/portraits/men/97.jpg
7,Zoubeir Nout,male,Biggekerke,Noord-Brabant,zoubeir.nout@example.com,1987-04-11T20:27:45.662Z,https://randomuser.me/api/portraits/men/44.jpg
8,Henry Price,male,Anna,Oregon,henry.price@example.com,1979-08-06T16:52:09.946Z,https://randomuser.me/api/portraits/men/41.jpg
9,Mohamed Martinez,male,Talavera de la Reina,Asturias,mohamed.martinez@example.com,1988-01-13T14:31:44.463Z,https://randomuser.me/api/portraits/men/56.jpg

In [17]:
df1=pd.DataFrame(get_users())

In [19]:
df1.head()

,Name,Gender,City,State,Email,DOB,Picture
0,Ellen Washington,female,Australian Capital Territory,Northern Territory,ellen.washington@example.com,1986-11-30T14:21:28.108Z,https://randomuser.me/api/portraits/women/40.jpg
1,Johnni Clark,male,Southampton,County Armagh,johnni.clark@example.com,1958-12-08T21:05:50.133Z,https://randomuser.me/api/portraits/men/89.jpg
2,Soham Baker,male,Westminster,County Down,soham.baker@example.com,1995-12-29T13:36:25.373Z,https://randomuser.me/api/portraits/men/98.jpg
3,Gaspard Chevalier,male,Versailles,Aude,gaspard.chevalier@example.com,1985-04-25T15:36:09.800Z,https://randomuser.me/api/portraits/men/63.jpg
4,Isabelle Lynch,female,Loughrea,Galway City,isabelle.lynch@example.com,1962-05-03T08:08:40.733Z,https://randomuser.me/api/portraits/women/89.jpg

In [20]:
funny_url='https://official-joke-api.appspot.com/jokes/ten'

In [28]:
import requests
jokes = requests.get(funny_url).json()
jokes

[{'type': 'general',
  'setup': 'What do you call two barracuda fish?',
  'punchline': 'A Pairacuda!',
  'id': 225},
 {'type': 'general',
  'setup': 'What is the tallest building in the world?',
  'punchline': 'The library, it’s got the most stories!',
  'id': 248},
 {'type': 'general',
  'setup': 'Why are ghosts bad liars?',
  'punchline': 'Because you can see right through them!',
  'id': 300},
 {'type': 'general',
  'setup': 'Why did the math book look sad?',
  'punchline': 'Because it had too many problems.',
  'id': 422},
 {'type': 'general',
  'setup': 'Why do bees hum?',
  'punchline': "Because they don't know the words.",
  'id': 343},
 {'type': 'programming',
  'setup': 'Where did the API go to eat?',
  'punchline': 'To the RESTaurant.',
  'id': 390},
 {'type': 'general',
  'setup': "What's a computer's favorite snack?",
  'punchline': 'Microchips.',
  'id': 423},
 {'type': 'general',
  'setup': 'Why did the cookie cry?',
  'punchline': 'Because his mother was a wafer so long',
  'id': 320},
 {'type': 'general',
  'setup': 'What did the pirate say on his 80th birthday?',
  'punchline': 'Aye Matey!',
  'id': 181},
 {'type': 'programming',
  'setup': 'How do you generate a random string?',
  'punchline': 'Put a Windows user in front of Vim and tell them to exit.',
  'id': 405}]

In [32]:
import json
result = json.loads(requests.get(funny_url).text)
result

[{'type': 'general',
  'setup': 'Why did the cookie cry?',
  'punchline': 'Because his mother was a wafer so long',
  'id': 320},
 {'type': 'general',
  'setup': 'What did the digital clock say to the grandfather clock?',
  'punchline': 'Look, no hands!',
  'id': 169},
 {'type': 'programming',
  'setup': "What's the best thing about a Boolean?",
  'punchline': "Even if you're wrong, you're only off by a bit.",
  'id': 409},
 {'type': 'general',
  'setup': 'What do you do when you see a space man?',
  'punchline': 'Park your car, man.',
  'id': 227},
 {'type': 'general',
  'setup': 'How did the hipster burn the roof of his mouth?',
  'punchline': 'He ate the pizza before it was cool.',
  'id': 117},
 {'type': 'general',
  'setup': 'A grocery store cashier asked if I would like my milk in a bag.',
  'punchline': "I told her 'No, thanks. The carton works fine.'",
  'id': 397},
 {'type': 'general',
  'setup': 'Did you hear that the police have a warrant out on a midget psychic ripping people off?',
  'punchline': 'It reads "Small medium at large."',
  'id': 97},
 {'type': 'general',
  'setup': 'What kind of magic do cows believe in?',
  'punchline': 'MOODOO.',
  'id': 254},
 {'type': 'general',
  'setup': 'How good are you at Power Point?',
  'punchline': 'I Excel at it.',
  'id': 128},
 {'type': 'general',
  'setup': 'What do you get hanging from Apple trees?',
  'punchline': 'Sore arms.',
  'id': 228}]

In [33]:
df3=pd.DataFrame(jokes)

In [34]:
df3.head()

,type,setup,punchline,id
0,general,What do you call two barracuda fish?,A Pairacuda!,225
1,general,What is the tallest building in the world?,"The library, it’s got the most stories!",248
2,general,Why are ghosts bad liars?,Because you can see right through them!,300
3,general,Why did the math book look sad?,Because it had too many problems.,422
4,general,Why do bees hum?,Because they don't know the words.,343

In [35]:
df3.drop(columns=['id','type'],inplace=True)

In [36]:
df3

,setup,punchline
0,What do you call two barracuda fish?,A Pairacuda!
1,What is the tallest building in the world?,"The library, it’s got the most stories!"
2,Why are ghosts bad liars?,Because you can see right through them!
3,Why did the math book look sad?,Because it had too many problems.
4,Why do bees hum?,Because they don't know the words.
5,Where did the API go to eat?,To the RESTaurant.
6,What's a computer's favorite snack?,Microchips.
7,Why did the cookie cry?,Because his mother was a wafer so long
8,What did the pirate say on his 80th birthday?,Aye Matey!
9,How do you generate a random string?,Put a Windows user in front of Vim and tell th...