### Exercise 1: Pandas: DataFrame and Series 

**Pandas** is a popular library for data analysis built on top of the Python programming language. Pandas generally provide two data structures for manipulating data, They are: 
 
* DataFrame
* Series

A **DataFrame** is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

* A Pandas DataFrame will be created by loading the datasets from existing storage. 
* Storage can be SQL Database, CSV file, Excel file, etc. 
* It can also be created from the lists, dictionaries, and from a list of dictionaries.

**Series** represents a one-dimensional array of indexed data.
It has two main components :
1. An array of actual data.
2. An associated array of indexes or data labels.

The index is used to access individual data values. You can also get a column of a dataframe as a **Series**. You can think of a Pandas series as a 1-D dataframe.

In [2]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in d:\work\python\ds\loscursos\python_for_datascience\env\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\work\python\ds\loscursos\python_for_datascience\env\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in d:\work\python\ds\loscursos\python_for_datascience\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [3]:
import pandas as pd

In [4]:
#Define a dictionary 'x'

x = {'Name': ['Rose','John', 'Jane', 'Mary'], 
     'ID': [1, 2, 3, 4], 
     'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

#casting the dictionary to a DataFrame
df = pd.DataFrame(x)

#display the result df
df

   Name  ID       Department  Salary
0  Rose   1  Architect Group  100000
1  John   2   Software Group   80000
2  Jane   3      Design Team   50000
3  Mary   4   Infrastructure   60000

In [12]:
x= df[['Name','Salary']]
x

   Name  Salary
0  Rose  100000
1  John   80000
2  Jane   50000
3  Mary   60000

In [13]:
type(x)

pandas.core.frame.DataFrame

In [17]:
y={'Student': ['Rose','John', 'Jane', 'Mary'],
   'Marks': [90, 88, 85, 89],
    'Course': ['Math', 'Science', 'History', 'English'],
    'Country': ['USA', 'Canada', 'UK', 'Australia']}   

df1 = pd.DataFrame(y)
df1

  Student  Marks   Course    Country
0    Rose     90     Math        USA
1    John     88  Science     Canada
2    Jane     85  History         UK
3    Mary     89  English  Australia

In [18]:
b=df1[['Marks']]
b

   Marks
0     90
1     88
2     85
3     89

In [20]:
c=df1[['Course','Country']]
c

    Course    Country
0     Math        USA
1  Science     Canada
2  History         UK
3  English  Australia

In [25]:
d=df1['Student']
d
type(d)

pandas.core.series.Series

In [26]:
e=df1[['Student']]
e
type(e)

pandas.core.frame.DataFrame